button {
  text-transform: none !important;
  font-size: 16px !important;
}

h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 28.8px !important;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 22.4px !important;
}

h5 {
    font-size: 16px !important;
    margin: 0;
}

h6 {
    font-size: 12.8px !important;
}

p {
    font-size: 14.4px !important;
}